<GridLayout backgroundColor="#FFFFFF">
    <ScrollView>
        <StackLayout margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15">
                <StackLayout class="input-field">
                    <Label text="Email" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="input.email"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Password" class="label font-weight-bold m-b-5"></Label>
                    <TextField secure="true" class="input" [(ngModel)]="input.password"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Confirm Password" class="label font-weight-bold m-b-5"></Label>
                    <TextField secure="true" class="input" [(ngModel)]="input.confirmPassword"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout>
                    <Label visibility="{{ hasError ? 'visible' : 'collapse'}}"
                           text="{{ errorMsg }}" textWrap="true" class="text-danger"></Label>
                </StackLayout>
                <StackLayout>
                    <Button class="btn btn-primary pull-right" (tap)="register()" text="Register" width="120"></Button>
                </StackLayout>
            </StackLayout>

            <StackLayout>
                <Label [nsRouterLink]="['/login']" text="Already have an account? Login here."
                       class="text-center footnote text-primary" style="padding-top: 50"></Label>
            </StackLayout>

        </StackLayout>
    </ScrollView>
</GridLayout>