<GridLayout backgroundColor="#FFFFFF">
    <ScrollView>
        <StackLayout margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15">
                <StackLayout class="input-field">
                    <Label text="Email" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="input.email"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Password" class="label font-weight-bold m-b-5"></Label>
                    <TextField secure="true" class="input" [(ngModel)]="input.password"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
            </StackLayout>
            <grid-layout>
                <Button class="btn btn-primary pull-right" text="Login" (tap)="login()" width="100"></Button>
                <Button class="btn btn-aqua pull-left" text="Register" [nsRouterLink]="['/register']" width="120"></Button>
            </grid-layout>
        </StackLayout>
    </ScrollView>
</GridLayout>